name: Flutter CI

# This workflow is triggered on pushes to the repository.

on:
  push:
    branches:
      - master

# on: push    # Default will running for every branch.

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.20.2'
          channel: 'beta'
      - run: dart --version
      - run: flutter --version
      - run: flutter pub get
      - run: flutter test
      - run: echo $(pwd)/key.jks            
      - run: flutter build apk --release
        env:
          KEY_STORE_PASSWORD: ${{ secrets.STOREPASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEYPASSWORD }}
          ALIAS: ${{ secrets.KEYALIAS }}
          KEY_STORE_FILE: ../key.jks
